# =========================
# .NET
# =========================

**/bin/
**/obj/

# =========================
# Godot
# =========================

cliente/.godot/

# =========================
# Builds / exports
# =========================

OUT/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db